html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-open-sans);
}  

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}


:root {
    --color-primary: #08A6E4;
    --color-secondary: #EB476E;
    --color-tertiary:#55DFB4;

    --shadow-primary: rgba(7, 172, 230, 0.16);

    --bg-primary: #FFFFFF;
    --bg-secondary: #F7F7F7;

    --text-primary: #000000;
    --text-secondary: #A5A5A5;

    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;

    --button-radius: 35px;
}


/* --- HEADER --- */


.header {
    height: 70px;

    background-color: var(--bg-primary);
    box-shadow: 0px 3px 6px #00000029;

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  

.header__logo {
    color: var(--color-primary);
 /*   font: normal normal 300 32px/37px Raleway; */
    font-family: var(--font-raleway);
    font-size: 32px;
    line-height: 37px;
    font-weight: 300; 
}

.header__nav {
    display: flex;
    
    
}

.nav__element {
    padding: 0 35pxpx;

}

.nav__element {
    color: var(--bg-secondary);
  /*  font: normal normal bold 11px/15px Open Sans; */
    text-transform: uppercase;
    font-family: var(--font-open-sans);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3.28px;
    border-bottom: 4px solid transparent;
    padding: 28px 18px 22px;
    display: flex;


 
}

.nav__element:hover {
    color: var(--text-primary);
    border-color: var(--color-primary);
}

.nav__element:last-child {
    padding-right: 0;
  }
  

/* --- OPENING --- */

.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening__content {
    margin-top: 130px;
    text-align: center;
}
  
.opening__header {
    font-family: var(--font-raleway);
    font-size: 49px; 
  }
  
.opening__heading {
    margin-top: 20px;
    margin-bottom: 38px;
}
  
.opening__image {
    width: 100%;
    height: auto;
}
  
.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
  }
  
.btn--primary {
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--shadow-primary);
}
  
.btn--large {
    padding: 22px 155px;
}
  

/* --- STATISTIC ---*/

.statistics {
    margin-top: 100px;
  }
  
.statistics__container {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
    text-align: center;
}

.statistics__single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}
  
.statistics__img {
    position: absolute;
}
  
.statistics__single:nth-child(1) .statistics__circle {
    background-color: var(--color-secondary);
}
  
.statistics__single:nth-child(1) .statistics__img {
    top: 0;
    left: 45%;
}
  
.statistics__single:nth-child(2) .statistics__circle {
    background-color: var(--color-primary);
}
  
.statistics__single:nth-child(2) .statistics__img {
    top: 14px;
    left: 47%;
}
  
.statistics__single:nth-child(3) .statistics__circle {
    background-color: var(--color-tertiary);
}
  
.statistics__single:nth-child(3) .statistics__img {
    top: 6px;
    left: 50%;
}
  
  
.statistics__number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
  }
  
.statistics__description {
    color: var(--text-secondary);
    margin-top: 19px;
}


/* --- BENEFITS --- */

.benefits {
    padding: 100px 0;
    background-color: var(--bg-secondary);
}
  
.benefits__container {
    padding: 0 100px;
}
  
.benefits__single {
    background-color: var(--bg-primary);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}
    
.benefits__text {
    max-width: 415px;
    margin: 90px 36px;
}
  
.benefits__text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px;
}
  
.benefits__description {
    margin-top: 30px;
    line-height: 1.375rem;
}
  

.benefits__image {
    position: relative;
  }
  
.benefits__image img {
    position: relative;
    z-index: 2;
}

.benefits__single--notebook {
    --accent-color:var(--color-secondary)
}

.benefits__single--notebook .benefits__image {
    margin-right: 117px;
    margin-bottom: 38px;
}


.benefits__single--notebook .benefits__image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefits__single--notebook .benefits__image img {
    width: 386px;
    height: auto;
}

.benefits__single--phone {
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}
  
.benefits__single--phone .benefits__image::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}
  
.benefits__single--phone .benefits__image img {
    width: 426px;
    height: auto;
}
  
.benefits__single--phone .benefits__text {
    margin: 70px 0;
}


.benefits__double {
    --accent-color: var(--color-tertiary);
    display: flex;
}

.benefits__double > div {
    margin-bottom: 0;
}

.benefits__single--solo {
    max-width: 620px;
}
  
.benefits__single--solo .benefits__text {
    max-width: none;
    margin: 70px 35px;
}

.benefits__single--image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}
  
.benefits__single--image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}
  
  
  
  
  
  
  
  
  
  